body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.page {
    margin-inline: 20vw;
}

.back {
    margin-block-end: 30px;
    display: block;
}

h1 {
    text-align: center;
    margin-block-end: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

area {
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.main-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}